* {
    margin: 0;
}

body {
    background: #000000;
}

aside {
    width: 200px;
    background: rgba(255,255,255,0.1);
    height: 100vh;
    padding-top: 45px;
}

aside ul {
    padding: 0;
    margin: 0 0 0 0;
}

aside li {
    margin: 0px 0 45px 0;
    background: blue;
    display: block;
}

aside a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 35px 0 25px 25px;
    margin: 0px 0 0 0;
}

.grid-container {
    background-color: rgba(255,255,255,0.1);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax()) ;
}

footer{
    background: rgba(255,255,255,0.2);
    height: 50px;
    width: 100%;
}

footer p {
    color: #fff

}